<h2> welcome home </h2>
<p> this should be my dashboard page</p>

<ul>
   {{#each dbAccounts}}  
    <li>{{id}}</li> 
    <li>{{id}}. {{customer_no}}</li> 
    <li>{{id}}. {{ac_balance}}</li>
    <li>{{id}}. {{ac_currency}}</li>   
    
  {{/each}}
 </ul>